<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">

  <title>Admin</title>
  

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="https://pngimg.com/uploads/book/book_PNG2105.png" width="100px" height="100px" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <form method="get" action="/history">
          <button type="submit" class="btn btn-primary" name="user_id" th:value="${sessionUser.getId()}">History</button>
        </form>
        <li class="nav-item">
          <a class="nav-link" href="/logout">LogOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
  <div class="row" style="padding-top: 10px;">
    <div class="col-sm-2">
      <form th:if="${role=='Workers'}" method="get" action="/editWorker">
        <button name="id" value="-1" type="submit" class="btn btn-primary">ADD WORKER</button>
      </form>
      <form th:if="${role=='Users'}" method="get" action="/editUser">
        <button name="id" value="-1" type="submit" class="btn btn-primary">ADD USER</button>
      </form>
    </div>
  </div>
  <h2 th:text="${role}"></h2>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Login</th>
        <th scope="col">Password</th>
        <th scope="col">Birth</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Edit</th>
        <th scope="col">History</th>
        <th scope="col">Remove</th>
      </tr>
      </thead>
      <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getLogin()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td th:text="${user.getBirth_date().toString()}"></td>
        <td th:text="${user.getEmail()}">]</td>
        <td th:text="${user.getPhone()}"></td>
        <td>
          <form method="get" action="/editWorker">
            <button type="submit" th:value="${user.getId()}" name="id" class="btn btn-success">Edit</button>
          </form>
        </td>
        <td>
          <form method="get" action="/history">
            <button type="submit" class="btn btn-primary" name="user_id" th:value="${user.getId()}">History</button>
          </form>
        </td>
        <td>
          <form method="get" action="/deleteUser">
            <button type="submit"  name="id" th:value="${user.getId()}" class="btn btn-danger">Remove</button>
          </form>
        </td>
      </tr>
    </table>
  </div>
</div>
<!-- /.container -->
<!-- Footer -->
<footer class="font-small unique-color-dark fixed-bottom" style="background-color: #888888;">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="/" style="color: white">Library Management System</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>