* { margin:0; 
}

body
{
    background-image: url("images/tlo.jpg");
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    height: 100%;
	width: 100%;
    font-family: 'Open Sans';
		
}

header{
	 margin: 0;
	 text-align: center;
	 color: white;
	 padding-top: 10px;

 }

header h1{
	 font-size: 3em;
	 text-transform: uppercase;
	 letter-spacing: 20px;
	 
}

header h2{
	 font-size: 1,5em;
    color: yellow;
	 
}


a {
	 float: left;
	 text-decoration: none;
	 color: yellow;
	 font-family: Elephant;
	 display: inline-block;
}

 a:hover{
	color: orange;
	text-decoration: none;
}


#video:hover{
    transform: rotate(360deg);
}

#nav{
    
    background-color: rgb(128,128,128, 0.75);
    margin-bottom: 20px;
    /*margin-left: ;
    margin-right: 20%;*/
}

ul li a{
	 text-decoration: none;
 }

#nav ul{
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
 }
 
 #nav ul li{
	 display: inline-block;
 }
 
 #nav ul li a{
	 display: block;
	 padding: 14px 15px;
	 color: rgb(254, 255, 68);
	 text-transform: uppercase;
	 text-shadow: 3px 3px 3px #223a5e;
 }
 
#nav ul li a:hover{
	 background-color: #fff3dc;
	 
}
#nav ul li a:active{
	 background-color: rgb(82, 67,45);
}


#container
{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
	
	
}

#topbar
{
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 25px;
}

#topbar1
{
    margin-top: 40px;
	float:left;
}

#topbar2
{
	float: left;
	margin-top: 180px;
	margin-left: 20px;
	text-shadow: 5px 5px 5px #ffb3b3

}


main{
    margin-top: 50px;
	margin-left: 5%;
	margin-right: 5%;
    background-color: rgb(128,128,128, 0.9);
    border-radius: 25px;
    font-family: font-family: 'Open Sans';
    padding: 50px;
    font-size: 30px;
	color: black;
    text-align: centre;

 }

#on h3{
    text-align: center;
}
#lr h3{
    margin-top: 35px;
    text-align: center;
}
#stats h3{
    margin-top: 35px;
    text-align: center;
}

#map{
    margin-left: 20%;
    
}

#gw h3{
    margin-top: 35px;
    text-align: center;
}

#usl h3{
    margin-top: 35px;
    text-align: center;
}
#uf h3{
    text-align: center;
}

#video{
    margin-left: 5%;
    margin-right: auto;
}




#footer {
	clear: both;
    margin-top: 5%;
	text-align: center;
	color: white;
	letter-spacing: 1px;
	font-size: 1em;
	text-shadow: 1px 1px black, 1px 1px 2px black;
}
